.articleList_layout{
    box-shadow: rgba(26, 26, 26, 0.1) 0 0 3px;
    font-size: 0.3rem;
    .content{
        padding:0.3rem;
        border-bottom: 1px solid #80797926;
        background: #fff;
        box-shadow: 0 1px 3px rgba(26,26,26,.1);
    }
}