.person_wrapper{
    width:17rem;
    margin:0 auto;
    background: #F6F6F6;
    .person_top{
        padding:0.3rem 0;
        font-size:0.3rem;
        a{
            text-decoration: none;
        }
    }
}
